apiVersion: v1
kind: Secret
metadata:
  name: my-openstack-secret
  namespace: garden
type: Opaque
data:
  OS_AUTH_URL: xxx         # CHANGEME (base64)
  OS_REGION_NAME: xxx      # CHANGEME (base64)
  OS_DOMAIN_NAME: xxx      # CHANGEME (base64)
  OS_USERNAME: xxx         # CHANGEME (base64)
  OS_PASSWORD: xxx         # CHANGEME (base64)
  OS_PROJECT_NAME: xxx     # CHANGEME (base64)
  OS_USER_DOMAIN_NAME: xxx # CHANGEME (base64)
