apiVersion: v1
kind: Secret
metadata:
  name: yake-config
  namespace: flux-system
type: Opaque
stringData:
  values.yaml: |
    clusterIdentity: yake-openstack-example
    issuer:
      enabled: true
      acme:
        email: operations@example.org # CHANGEME letsencrypt sends its mails here
        server: https://acme-v02.api.letsencrypt.org/directory

    domains:
      global: # means used for ingress, gardener defaultDomain and internalDomain
        domain: example.org     # CHANGEME Designate managed DNS zone
        provider: openstack-designate
        credentials:
          OS_AUTH_URL: xxx         # CHANGEME (base64)
          OS_REGION_NAME: xxx      # CHANGEME (base64)
          OS_DOMAIN_NAME: xxx      # CHANGEME (base64)
          OS_USERNAME: xxx         # CHANGEME (base64)
          OS_PASSWORD: xxx         # CHANGEME (base64)
          OS_PROJECT_NAME: xxx     # CHANGEME (base64)
          OS_USER_DOMAIN_NAME: xxx # CHANGEME (base64)
