apiVersion: v1
kind: Secret
metadata:
  name: yake-config
  namespace: flux-system
type: Opaque
stringData:
  values.yaml: |
    clusterIdentity: yake-aks-example
    issuer:
      enabled: true
      acme:
        email: operations@example.org # CHANGEME letsencrypt sends its mails here
        server: https://acme-v02.api.letsencrypt.org/directory

    domains:
      global: # means used for ingress, gardener defaultDomain and internalDomain
        domain: example.org     # CHANGEME Azure managed DNS zone
        provider: azure-dns
        credentials:
          subscriptionID: xxx   # CHANGEME (base64) Azure: Subscription -> ID
          tenantID: xxx         # CHANGEME (base64) Azure: App Registration -> Directory (tenant) ID
          clientID: xxx         # CHANGEME (base64) Azure: App Registration -> Application (client) ID
          clientSecret: xxx     # CHANGEME (base64) Azure: App Registration -> Certificate & Secrets -> Secret Value
